/* Styles pour le fond */
.bg {
    background-color: #F8F8F8;
    padding: 20px;
}

/* Styles pour la parent div */
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Styles pour la child div */
.child {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

/* Styles pour l'imgDiv */
.imgDiv {
    margin-bottom: 20px;
    text-align: center;
}

/* Styles pour le titre */
.mat-toolbar h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #3f51b5;
}

/* Styles pour le formulaire */
form {
    display: flex;
    flex-direction: column;
}

/* Styles pour les champs de formulaire */
.form-field {
    margin-bottom: 20px;
}

/* Styles pour les boutons */
button {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
}

/* Styles pour le texte du bouton Register */
button[mat-raised-button] {
    background-color: #3f51b5;
    color: white;
}

/* Styles pour le texte de lien login */
a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #3f51b5;
}

/* Styles pour la boîte de chargement */
.spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Styles pour le texte de la boîte de chargement */
.spinner-text {
    margin-top: 10px;
    font-size: 16px;
}
