.container {
   
    /* Centre l'image horizontalement et verticalement */
    height: 100vh; /* Définit la hauteur de la div pour couvrir la hauteur de la fenêtre */
    display: flex; /* Utilise Flexbox pour centrer le contenu verticalement */
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
   
}
mat-toolbar {
    background-color: #f5ebeb; /* Bleu primaire pour le toolbar */
    color: rgb(10, 3, 3); /* Couleur du texte en blanc */
    display: flex; /* Utilisez flex pour la mise en page */
    align-items: center; /* Aligner les éléments au centre verticalement */
    height: 50px; /* Hauteur du toolbar */
    position: fixed; /* Fixe la barre d'outils en haut de la page */
    top: 0; /* Aligne la barre d'outils en haut de la page */
    width: 100%; /* Prend toute la largeur de la page */
    z-index: 1000;
     /* Assure que le toolbar soit au-dessus du contenu */
}
.mat-toolbar {
    display: flex;
    justify-content: space-between; /* Les éléments seront répartis sur la ligne */
    align-items: center; /* Les éléments seront alignés verticalement au centre */
  }
  
  .nav-links {
    display: flex;
    
  }
  
  .nav-links a {
   
    margin-right: 10px;
    padding-left: 10rem; /* Ajouter un peu d'espace entre les liens */
  }
  .nav-links button{
    color: rgb(243, 250, 250);
    background-color: blue;
  }
  .example-spacer {
    flex: 1; /* Cet élément pousse les liens vers la gauche */
  }
/* Style pour le contenu de la page */
.page-content {
    padding-top: 80px; /* Correspond à la hauteur du mat-toolbar */
    margin-top: 100px; /* Ajoute une marge supérieure équivalente à la hauteur du mat-toolbar */
}


  
  /* Style pour les boutons d'icônes */
  .example-icon {
    color: white; /* Couleur blanche pour les icônes */
    margin-right: 10px; /* Ajouter de l'espace entre les boutons */
  }
  

  
  .mat-icon {
    font-size: 30px; /* Taille de l'icône */
    color: #ff9100; /* Couleur de l'icône (bleu) */
    margin-right: 5px; /* Marge à droite pour l'espacement */
}

  /* Style pour l'espaceur */
  .example-spacer {
    flex-grow: 1; /* Permettre à l'espaceur de remplir l'espace disponible */
  }
  
  /* Style pour les liens de navigation */
 /* Style global pour les liens de navigation */
.nav-links a {
    color: rgb(8, 2, 2); /* Couleur blanche pour les liens */
    margin-right: 20px; /* Ajouter de l'espace entre les liens (15px) */
    font-size: 20px; /* Taille de police moyenne */
    text-decoration: none; /* Pas de soulignure */
}

/* Effet d'hover pour les liens de navigation */
.nav-links a:hover {
    text-decoration: underline; /* Ajouter une soulignure survolée */
    color: #dfba9cef; /* Changer la couleur des liens en gris clair lors du survol */
}

  /* Style pour les boutons de liens */
  
  
  /* Style pour les boutons d'icônes */
  mat-icon-button {
    padding: 0 10px; /* Ajouter de l'espace entre les boutons */
  }
  
