<div class="page-content">
    <div class="title-container">
      <h1 class="title mat-display-2">Ensemble, nous pouvons faire ressortir le meilleur de chaque talent.</h1>
    </div>
    <div class="button-container">
        <a href="/login" class="mat-button">Publier votre offre</a>
      </div>
    <div class="content">
      <div class="cus" >
        <p> <u>Inscrivez-vous gratuitement dès maintenant !</u>  Tout ce dont vous avez besoin pour créer un compte et publier une offre d'emploi est une adresse e-mail.</p>
      </div>
  
      <div class="projet">
        <p> <u>Créez votre offre d'emploi en quelques étapes simples :</u>  donnez-lui un titre et une description, puis précisez les critères de recrutement. Votre annonce est prête à être publiée !</p>
      </div>
  
      <div class="claim">
        <p><u>Publiez
            votre offre :</u> Après avoir publié votre offre d'emploi, utilisez nos outils avancés pour trouver le talent idéal.</p>
      </div>
    </div>
  
   
  </div>
  