.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 50px;
}

.title-container {
  margin-bottom: 20px;
  margin-top: 15px;
}

.title {
  font-size: 36px;
  font-family: 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  text-align: center;
}

a.mat-button {
  color: white;
  background-color: #1976d2;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

a.mat-button:hover {
  background-color: #1565c0;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.cus, .projet, .claim {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  margin-top: 50px;
}

.cus {
  background-color: rgb(255, 255, 255);
  
  height: 120px;
  border: 1px solid rgb(178, 179, 240);
  padding: 22px;
  margin: 20px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 15px;  /* Orange */
}

.projet {
  background-color: #ffffff;   
  width: 30px;
  height: 120px;
  border: 1px solid rgb(245, 137, 182);
  padding: 22px;
  margin: 20px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 15px; /* Steel Blue */
}

.claim {
  background-color: #fefffe; 
  width: 30px;
  height: 120px;
  border: 1px solid rgb(128, 243, 143);
  padding: 22px;
  margin: 20px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 15px;/* Spring Green */
}

.cus p, .projet p, .claim p {
  font-size: 20px;
 
  color: black;
 
  animation: fadebody 4s ease-in-out;
 
}

.button-container {
  margin-top: 20px;
  text-align: center;
}





